<div class="content_post" style="background-image: url(<%= part.image %>);">
  <div class="more">
    <p><%= part.name %></p>
     <ul class="more_list">
        <li>
          <%= link_to '詳細', part_path(part.id), method: :get %>
        </li>
      </ul>
    </div>
  </div>
</div>