<%= "注文書" %>
<div class="order-info">
  発注者　　　　：<%= @current_user %><br/>
  発注日　　　　：<%#= f.text_field %><br/>
  部品名称　　　：<%= @part.name %><br/>
  発注数　　　　：<%#= @part_stocks.lot %><br/>
  サプライヤー　：<%= @part.supplier_id %><br/>
  備考　　　　　：<%#= f.text_field %><br/>
</div>