<%#= form_with(url: search_products_path, local: true, method: :get, class: "search-form") do |f| %>
  <%#= f.text_field :keyword, placeholder: "製品を検索する", class: "search-input" %>
  <%#= f.submit "検索", class: "search-btn" %>
<%# end %>
<p>製品一覧</p>
<div class="contents row">
  <% @products.each do |product| %>
    <div class="content_post">
      <%= link_to product.name, product_path(product.id), method: :get %>
    </div>
  <% end %>
</div>