<div class="contents row">
  <div class="content_post">
    <% if user_signed_in? && current_user.id == @product.user_id %>
      <div class="more">
        <ul class="more_list">
          <li>
            <%= link_to '編集・部品の登録', edit_product_path(@product.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', product_path(@product.id), method: :delete %>
          </li>
        </ul>
      </div>
    <% end %>
    <span class="name"><%= @product.name %></span>
  </div>
</div>



  